img {
    max-width: 100%;
    flex: 1 0 auto;
}
.cont{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
p {
    margin: 2px;
}
.soloItem {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}